.columnHead {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 50px;
}
.columnContent {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  align-items: center;
}

.columnContentText {
  padding: 5px 5px;
}
.taskCounter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: rgb(167, 162, 162);
  width: 22px;
  height: 22px;
  border-radius: 100%;
}
