html {
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  justify-content: center;
}
.result {
  display: flex;
  margin-top: 50px;
}
.column {
  width: 250px;
}
.columnContent {
  height: 100%;
}
.head {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  cursor: pointer;
  border: solid 1px rgb(240, 240, 240);
}
