body {
  padding-top: 30px;

  overflow-x: visible;
}
.result {
  display: flex;
  justify-content: center;
}
.column {
  width: 500px;
  border: solid 1px rgb(46, 215, 216);
}
.columnHead {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}
.columnContent {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  height: 500px;
}
.addContentBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: grey;
  background-color: white;
  border-radius: 100%;
}
.taskResult,
.inputTaskName {
  width: 80%;
  padding: 10px 7px;
  border: solid 1px grey;
  border-radius: 6px;
  margin-bottom: 5px;
}
