html {
  height: 100%;
}
body {
  background-image: url("./img/2.jpeg");
  background-size: 200 px 30px;

  height: 100%;
  display: flex;
}
.resultWrapper {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  width: 100px;
  overflow-x: scroll;
}
.result {
  display: flex;
  width: 100%;
  margin-top: 50px;
}
.column {
  width: 300px;
}

.columnContent {
  height: 100%;
}
.head {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  cursor: pointer;
  border: solid 1px rgb(240, 240, 240);
}

.head:hover {
  background-color: gray;
  color: white;
}
